<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="A Binance Smart Chain Token" />
    <meta name="keywords" content="Smart Chain, Token" />

    <link rel="shortcut icon" href="./img/logo.png" type="image/x-icon" />

    <!-- STYLES -->
    <link rel="stylesheet" href="./css/style.css" />

    <!-- SCRIPTS -->
    <script src="./js/script.js" defer></script>
    <title>Yummycake</title>
  </head>
  <body>
    <div class="container">
      <!-- HEADER -->
      <header class="header">
        <!-- NAV -->
        <nav class="nav">
          <div class="mobile__nav">
            <!-- LOGO -->
            <div class="logo">
              <a href="/">
                <img src="./img/logo.png" alt="logo" class="logo__image" />
              </a>
            </div>
            <!-- LOGO ENDS -->

            <!-- HAMBURGER -->
            <div class="hamburger">
              <i class="bi bi-list"></i>
            </div>
          </div>

          <!-- MENU -->
          <ul class="menu">
            <li>
              <a href="#about">About</a>
            </li>
            <li>
              <a href="#features">Features</a>
            </li>
            <li>
              <a href="/roadmap">Roadmap</a>
            </li>
            <li>
              <a href="/whitepaper" class="btn">Whitepaper</a>
            </li>
          </ul>
        </nav>
      </header>

      <!-- MAIN -->
      <main class="index__main">
        <!-- SECTION ONE -->
        <section class="section__one">
          <h2>Yummy Cake</h2>
          <p class="desc">
            A Binance Smart Chain Token that rewards holders by sending $Cake
            automatically to your wallet every 45 minutes. Passive income at its
            finest...
          </p>
          <div class="btns">
            <div>
              <a href="/whitepaper" class="btn btn__big"
                >Whitepaper <i class="bi bi-arrow-right"></i
              ></a>
            </div>
            <div>
              <a href="/dashboard" class="btn btn__big bg__white "
                >Dashboard
              </a>
            </div>
            <div>
              <a href="/lottery" class="btn btn__big bg__white lottery_btn"
                >Lottery
              </a>
            </div>
          </div>
          <ul class="social__networks">
            <li>
              <a href="https://www.twitter.com/yummy_cakeBSC" target="blank"
                ><i class="bi bi-twitter"></i
              ></a>
            </li>
            <li>
              <a href="https://www.t.me/Yummy_CakeBSC" target="blank"
                ><i class="bi bi-telegram"></i
              ></a>
            </li>
          </ul>
        </section>

        <!-- ABOUT -->
        <section class="about" id="about">
          <h2>About</h2>
          <p class="desc">
            Yummycake believes a lack of integrity and honesty has almost
            destroyed the BSC ecosystem with scam projects and devs. We are
            going to help change that!
          </p>
          <p class="desc">
            We believe all dev teams should be present and available for
            investors 24/7.
          </p>
          <p class="desc">
            Yummycake want to ensure investors can feel safe, free from scams
            and able to prosper.
          </p>
          <p class="desc">
            Yummycake was launched with a nod of appreciation to BabyCake. We
            decided to reward our investors with up to 10% auto claim Cake
            reflection.
          </p>
          <p class="desc">
            Join Yummycake and help us make BSC safe and legitimate again. Join
            the revolution.
          </p>
          <p class="desc">Blockchain: Binance Smart Chain (BSC)</p>
        </section>

        <!-- FEATURES -->
        <section class="features" id="features">
          <h2>Our Great Features</h2>
          <ul class="feature__list">
            <li class="feature">
              <i class="bi bi-arrow-counterclockwise"></i>
              <h3>7% Redistribution In CAKE</h3>
              <p class="desc">
                7% of every buy transaction and 10% of every sell transaction is
                taken and redistributed to all holders. Hold $YummyCake tokens,
                earn CAKE. A Minimum of 200,000 tokens is required in order to
                receive rewards.
              </p>
            </li>
            <li class="feature">
              <i class="bi bi-arrow-right-circle"></i>
              <h3>Rewards Paid Automatically</h3>
              <p class="desc">
                For the first time ever, you don’t need to claim your earned
                CAKE. It’s automatically sent to your wallet. Just add the
                Pancake token ($CAKE) address to your wallet and you're set.
              </p>
            </li>
            <li class="feature">
              <i class="bi bi-award"></i>
              <h3>2% Auto liquidity</h3>
              <p class="desc">
                2% of every transaction is converted into liquidity for
                Pancakeswap. It’s automatic and helps create a price floor
                (stability).
              </p>
            </li>
            <li class="feature">
              <i class="bi bi-bag-plus"></i>
              <h3>3% Sell Fee</h3>
              <p class="desc">
                An extra 3% fee is applied to all sells. This will allow us to
                reduce swing-trading and break whales’ control.
              </p>
            </li>
            <li class="feature">
              <i class="bi bi-bookmark"></i>
              <h3>Massive Marketing Plan</h3>
              <p class="desc">
                3% of every transaction is allocated to Marketing in CAKE
                (swapped to CAKE in real time to avoid dumps). So we can fuel
                the most ambitious projects and reward our active community.
              </p>
            </li>
            <li class="feature">
              <i class="bi bi-file-earmark-lock"></i>
              <h3>Secured By Design</h3>
              <p class="desc">
                Initial Liquidity Provided will be locked with Mudra for more
                than 1 year.
              </p>
            </li>
          </ul>
        </section>

        <!-- PANCAKESWAP -->
        <section class="pancake">
          <div class="btns">
            <a
              href="https://pancakeswap.finance/swap?outputCurrency=0xa62cdd8e357Bb4407671f329dd3Dab975120c7F3"
              target="blank"
              class="btn btn__big"
              >Buy on PancakeSwap</a
            >
            <a
              href="https://mudra.website/?certificate=yes&type=0&lp=0x4c9ef5f19d5830052a39b71e88ea0a2e81f011ed"
              target="blank"
              class="btn btn__big"
              >Liquidity Lock</a
            >
          </div>
          <div class="contract">
            <span class="contract__text"> Contract: </span>
            <div class="white__bg">
              0xa62cdd8e357Bb4407671f329dd3Dab975120c7F3
            </div>
          </div>
        </section>

        <!-- SOCIAL NETWORKS -->
        <div class="networks">
          <ul class="social__networks">
            <li>
              <a href="https://www.twitter.com/yummy_cakeBSC" target="blank"
                ><i class="bi bi-twitter"></i
              ></a>
            </li>
            <li>
              <a href="https://www.t.me/Yummy_CakeBSC" target="blank"
                ><i class="bi bi-telegram"></i
              ></a>
            </li>
            <!-- <li>
              <a href="https://pancakeswap.finance/swap?outputCurrency=0xa62cdd8e357Bb4407671f329dd3Dab975120c7F3" target="blank">
                <i class="bi bi-currency-dollar"></i>
               </a>
            </li>
            <li>
              <a href="https://mudra.website/?certificate=yes&type=0&lp=0x4c9ef5f19d5830052a39b71e88ea0a2e81f011ed" target="blank">
                <i class="bi bi-lock"></i>
               </a>
            </li> -->
          </ul>
        </div>
      </main>

      <!-- FOOTER -->
      <footer class="footer">
        <ul class="footer__menu">
          <li><a href="#about">About</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="/roadmap">Roadmap</a></li>
          <li><a href="/whitepaper">Whitepaper</a></li>
        </ul>

        <div class="copywrite">
          Copywrite &copy; <span class="date"></span> Yummycake
        </div>
      </footer>
    </div>
  </body>
</html>
