<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="A Binance Smart Chain Token" />
    <meta name="keywords" content="Smart Chain, Token" />

    <link
      rel="shortcut icon"
      href="./img/logo.png"
      type="image/x-icon"
    />

    <!-- STYLES -->
    <link rel="stylesheet" href="./css/style.css" />

    <!-- SCRIPTS -->
    <script src="./js/script.js" defer></script>
    <title>Yummycake | Roadmap</title>
  </head>
  <body>
    <div class="container">
      <!-- HEADER -->
      <header class="header">
        <!-- NAV -->
        <nav class="nav">
          <div class="mobile__nav">
            <!-- LOGO -->
            <div class="logo">
              <a href="/">
                <img
                  src="./img/logo.png"
                  alt="logo"
                  class="logo__image"
                />
              </a>
            </div>
            <!-- LOGO ENDS -->

            <!-- HAMBURGER -->
            <div class="hamburger">
              <i class="bi bi-list"></i>
            </div>
          </div>

          <!-- MENU -->
          <ul class="menu">
            <li>
              <a href="/">Home</a>
            </li>
            <!-- <li>
              <a href="#features">Features</a>
            </li> -->
            <li>
              <a href="#roadmap">Roadmap</a>
            </li>
            <li>
              <a href="/whitepaper" class="btn">Whitepaper</a>
            </li>
          </ul>
        </nav>
      </header>

      <!-- MAIN -->
      <main class="roadmap__main">
        <section class="roadmap__section__one">
          <h2>Our Roadmap</h2>

          <!-- SOCIAL NETWORKS -->
          <div>
            <ul class="social__networks">
              <li>
                <a href="https://www.twitter.com/yummy_cakeBSC" target="blank"
                  ><i class="bi bi-twitter"></i
                ></a>
              </li>
              <li>
                <a href="https://www.t.me/Yummy_CakeBSC" target="blank"
                  ><i class="bi bi-telegram"></i
                ></a>
              </li>
            </ul>
          </div>
        </section>

        <section class="roadmap__section__two">
          <ul class="roadmap__list">
            <li>
              <i class="bi bi-check-circle-fill"></i>
              <span class="item__name">YummyCake is born</span>
            </li>
            <li>
              <i class="bi bi-check-circle-fill"></i>
              <span class="item__name">Website launched</span>
            </li>
            <li>
              <i class="bi bi-check-circle-fill"></i>
              <span class="item__name">Whitepaper released</span>
            </li>
            <li>
              <i class="bi bi-check-circle-fill"></i>
              <span class="item__name">Influencer marketing push</span>
            </li>
            <li>
              <i class="bi bi-circle"></i>
              <span class="item__name">Meme contests</span>
            </li>
            <li>
              <i class="bi bi-circle"></i>
              <span class="item__name">Listing on Coingecko</span>
            </li>
            <li>
              <i class="bi bi-circle"></i>
              <span class="item__name">Listing on Coinmarketcap</span>
            </li>
            <li>
              <i class="bi bi-circle"></i>
              <span class="item__name">$100M market cap achieved</span>
            </li>
            <li>
              <i class="bi bi-circle"></i>
              <span class="item__name">Audit, Certik audit</span>
            </li>
            <li>
              <i class="bi bi-circle"></i>
              <span class="item__name"
                >Partnerships with influencers on Youtube, Twitter, &
                Tiktok</span
              >
            </li>
            <li>
              <i class="bi bi-circle"></i>
              <span class="item__name">YummyCakeSwap</span>
            </li>
            <li>
              <i class="bi bi-circle"></i>
              <span class="item__name">YummyCake Merch Shop</span>
            </li>
            <li>
              <i class="bi bi-circle"></i>
              <span class="item__name">Building NFT Platform</span>
            </li>
            <li>
              <i class="bi bi-circle"></i>
              <span class="item__name"
                >Marketing: YummyCake goes mainstream</span
              >
            </li>
            <li>
              <i class="bi bi-circle"></i>
              <span class="item__name">More to be announced</span>
            </li>
          </ul>
        </section>

        <!-- SOCIAL NETWORKS -->
        <div class="networks">
          <ul class="social__networks">
            <li>
              <a href="https://www.twitter.com/yummy_cakeBSC" target="blank"
                ><i class="bi bi-twitter"></i
              ></a>
            </li>
            <li>
              <a href="https://www.t.me/Yummy_CakeBSC" target="blank"
                ><i class="bi bi-telegram"></i
              ></a>
            </li>
          </ul>
        </div>
      </main>

      <!-- FOOTER -->
      <footer class="footer">
        <ul class="footer__menu">
          <li><a href="/">Index</a></li>
          <li><a href="/roadmap">Roadmap</a></li>
          <!-- <li><a href="./roadmap.html">Roadmap</a></li> -->
          <li><a href="/whitepaper">Whitepaper</a></li>
        </ul>

        <div class="copywrite">
          Copywrite &copy; <span class="date"></span> Yummycake
        </div>
      </footer>
    </div>
  </body>
</html>
