

<html lang="en" dir="ltr"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>YCake Lottery</title>
    <link rel="stylesheet" href="/ycake/css">
    <link rel="stylesheet" href="/ycake/all.min.css">
    <link rel="stylesheet" href="/ycake/style.css">
    <link rel="stylesheet" href="/ycake/style(1).css">
	<link rel="shortcut icon" type="image/png" href="/ycake/heroinu.png">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1&gt;
&lt;meta http-equiv=" x-ua-compatible"="">
<meta name="HandheldFriendly" content="true">

<!-- Bootstrap icons-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<style shopback-extension-v6-5-2="" data-styled-version="4.2.0"></style></head>

<body>
  <header class="header">
    <a href="/">
    <img src="/img/logo.png" />
    </a>
  </header>
    <div class="container">
        <div display="none" class="container__item">
        <p class="bnbjolly">YUMMYCAKE LOTTERY</p>
        <p class="center" id="res5">Buy one ticket for 0.006 BNB to win a Jackpot in YCAKE. Connect your wallet and try to win a lot of YCAKE!</p>
        <p class="center" id="res5 ">To enter the draw manually, send 0.006 BNB to <input type="text" value="0x6b031B57ebB82F22a3804a79463ed31230EE3C39" class="address" readonly>
          </p>
        <p class="center"><span class="copy">Copy address: <i class="bi bi-clipboard"></i></span></p>
                                        <div id="showprice" class="center">
                                        <b>Buy for 0.006 BNB</b>
                                        </div>
                        <div class="centerlogos">
                        <img src="/ycake/ycakelogo.png" align="left" width="35%">
                        <img src="/ycake/win.png" align="right" width="32%">
                                        <button class="btnbuy" id="connect">Connect</button>

                        </div>
            <div class="center">
          		<form class="form">

              </form>
              <div class="loader" id="loader"></div>
            <form class="form">
            </form>
            <button class="btnbuy" id="buy">Buy</button>
            </div>
            <button class="btnbuy" id="refresh" style="display: none;">Refresh</button>

            <div><p class="bnb" style="display: inline;" id="amountOfBNB"></p></div>
            <div class="mobilecolumn">
            <p class="center" id="res3">Last Winner: <span id="owner"></span></p>
            </div>
        </div>

        <div class="social-networks">
          <div class="icons">
            <a href="https://www.twitter.com/yummy_cakeBSC" target="blank"><i class="bi bi-twitter"></i></a>
            <a href="https://www.t.me/Yummy_CakeBSC" target="blank"><i class="bi bi-telegram"></i></a>
          </div>
          <div class="support">
            <span class="support-head">Need help? </span> 
            <span class="support-icon-box">
              Click <i class="bi bi-arrow-right-short"></i> <a href="https://t.me/yummycakelottery" target="blank"><i class="bi bi-info-circle support-icon"></i></a>
            </span> 
            
          </div>
        </div>

       <p class="containertec">
        T&C: The jackpot has a 10% fee which is deducted from the total contribution and the winner gets paid in YummyCake. 
        <br />
        If your address is posted as winner, check your wallet and add the YummyCake contract address to it: 0xa62cdd8e357bb4407671f329dd3dab975120c7f3. 
        <br />
        You have 10% probability of winning in a round of 10, you can make multiple ticket purchases to increase your chance of winning. 
      </p>
          </div>
      </div>
    </div>
{{!-- <script src="./ycake/connectToWallet.js"></script> --}}
<script type="text/javascript" src="https://unpkg.com/web3@1.5.2/dist/web3.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/web3modal@1.9.4/dist/index.js"></script>
<script type="text/javascript" src="https://unpkg.com/evm-chains@0.2.0/dist/umd/index.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/@walletconnect/web3-provider@1.6.5/dist/umd/index.min.js"></script>
<script src="./ycake/ycake.js"></script>
<script src="./ycake/ycakeAbi.js"></script>

<script src="./ycake/mine.js"></script>
