

<html lang="en" dir="ltr"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>YCake Lottery</title>
    <link rel="stylesheet" href="/ycake/css">
    <link rel="stylesheet" href="/ycake/all.min.css">
    <link rel="stylesheet" href="/ycake/style.css">
    <link rel="stylesheet" href="/ycake/style(1).css">
	<link rel="shortcut icon" type="image/png" href="/ycake/heroinu.png">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1&gt;
&lt;meta http-equiv=" x-ua-compatible"="">
<meta name="HandheldFriendly" content="true">

<style shopback-extension-v6-5-2="" data-styled-version="4.2.0"></style></head>

<body>
  <header class="header">
    <a href="/">
    <img src="/img/logo.png" />
    </a>
  </header>
    <div class="container">
        <div display="none" class="container__item">
        <p class="bnbjolly">YUMMYCAKE LOTTERY</p>
        <p class="center" id="res5">Buy one ticket for 0.006 BNB to win a Jackpot in YCAKE. Connect your wallet and try to win a lot of YCAKE!</p>
                                        <div id="showprice" class="center">
                                        <b>Buy for 0.006 BNB</b>
                                        </div>
                        <div class="centerlogos">
                        <img src="/ycake/ycakelogo.png" align="left" width="35%">
                        <img src="/ycake/win.png" align="right" width="32%">
                                        <button class="btnbuy" id="connect">Connect</button>

                        </div>
            <div class="center">
          		<form class="form">

              </form>
              <div class="loader" id="loader"></div>
            <form class="form">
            </form>
            <button class="btnbuy" id="buy">Buy</button>
            </div>
            <button class="btnbuy" id="refresh" style="display: none;">Refresh</button>

            <div><p class="bnb" style="display: inline;" id="amountOfBNB"></p></div>
            <div class="mobilecolumn">
            <p class="center contained_text" id="res3">Last Winner: <span id="owner"></span></p>
            </div>
        </div>
       <p class="containertec">
T&C: The jackpot has a 10% fee which is collected from your winnings.
You have 10% probability of winning in a round of 10, to increase your winning rate, you can have multiple entries.</p>
          </div>
      </div>
    </div>
{{!-- <script src="./ycake/connectToWallet.js"></script> --}}
<script type="text/javascript" src="https://unpkg.com/web3@1.5.2/dist/web3.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/web3modal@1.9.4/dist/index.js"></script>
<script type="text/javascript" src="https://unpkg.com/evm-chains@0.2.0/dist/umd/index.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/@walletconnect/web3-provider@1.6.5/dist/umd/index.min.js"></script>
<script src="./ycake/ycake.js"></script>
<script src="./ycake/ycakeAbi.js"></script>
